{#
/**
 * @file
 * Default theme implementation to display a balances when the limits are the same, top and bottom.
 * the google chart will expand to fill the container specified here
 * balance
 * balanceformatted //google gauge cannot use this
 * min
 * minformatted
 * max
 * maxformatted
 *
 * Technique here is to use 'green' and 'red' as the min and max extreme, and
 * 'yellow 'as the white mid range.
 */
#}
{% set domid = 'limitometer-' ~ wallet.id %}
{% set functionname = 'limitometer_'~ wallet.id %}
{% set dangerzone = 0.25 %}
{% set range = -(min - max) %}
{% set zonesize =  range * dangerzone /2 %}
{% set minsafe = min + zonesize %}
{% set maxsafe = max - zonesize %}
{{ attach_library('mcapi/gcharts') }}
<script>
google.charts.setOnLoadCallback({{ functionname }});
function {{ functionname }}() {
  var data = new google.visualization.arrayToDataTable([
    ['Label', 'Value'],
    ['{{ 'Limits'|t }}', {{ balance }}]
  ]);
  var options = {
    width: 150, height: 150,
    greenColor: '#ff0000',
    redColor: '#ff0000',
    yellowColor: '#ffffff',
    greenFrom: {{ min }}, greenTo: {{ minsafe }},
    yellowFrom: {{ minsafe }}, yellowTo: {{ maxsafe }},
    redFrom: {{ maxsafe }}, redTo: {{ max }},
    min: {{ min }},
    max: {{ max }}
  }
  new google.visualization.Gauge(document.getElementById('{{ domid }}')).draw(data, options);
}
</script>
<div id="{{ domid }}" style="width:150px; height:150px;"></div>
<div class = "limits">Min: {{ minformatted }} | Max: {{ maxformatted }}</div>
