{#
 wallet
 currency
 max
 maxformatted
 min
 minformatted
 balance
 balanceformatted
#}

<div class = "wallet-limits component">
  <strong>{{ 'Limits'|t }}</strong><br />
  {{ 'Balance'|t }}: {{ balanceformatted }}
  <br />
  {{ 'Min'|t }} {{ minformatted }}
  <br />
  {{ 'Max'|t }} {{ maxformatted }}
</div>
