/**
 * Styling for the Currency page
 */
table.extreme-balances,
table.extreme-balances th,
table.extreme-balances td {
  border: 0px;
  padding: 1px;
}
table.extreme-balances div.negative {
  background-color: green;
  border: 2px solid green;
  width: 50%;
  color: white;
  font-weight: bold;
  display: inline-block;
  text-align: left;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
  float:right;
}
table.extreme-balances td div.negative:hover {
  border: 2px solid #8f8;
}
table.extreme-balances div.positive {
  background-color: blue;
  border: 2px solid blue;
  width: 50%;
  color: white;
  font-weight: bold;
  display: inline-block;
  text-align: right;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}
table.extreme-balances td div.positive:hover {
  border: 2px solid #88f;
}

div.ordered-wallets {
  display: inline-block;
  width: 40%;
  margin: 1em 1em 1em 0;
  /* list-style-position: inside; */
}
#transaction-stats-filter div.form-type-select {
  display: inline-block;
  margin-right: 2em;
}
div.mcapi-timeline {
  margin: 1em 1em 1em 0;
}

div.currency-link {
  display: inline-block;
}
div.currency-link .volume {
  font-size: 200%;
}