div.mc-transaction,
form#mc-transaction-confirm-form {
  padding: 0 3em 1em 3em;
  text-align: center;
  display: inline-block;
  
  display: flex;
  flex-direction: column;
  align-items: center; 
}
div.mc-transaction span.mc-quant {
  font-size: 250%;
  line-height: 1.1em;
}

ul.mc-transaction-links{
  display: inline;
  padding-left: 0;
}
/* highlight the links */
ul.mc-transaction-links li:before{
  content: '»';
  color: red;
  margin-right: 0.3em;
  font-weight: bold
}


ul.mc-transaction-links li {
  display: inline;
}

/* these separators aren't very flexible I'm afraid but there's no way I can see to do it in php */
ul.mc-transaction-links li {
  padding: 0 0.5em !important;
  display: inline;
}
ul.mc-transaction-links li a {
  text-decoration: none;
}

table#mc-workflow-log td {
  padding: 5px;
}

table#mc-workflow-log td.mc-state {
  min-width: 32px;
  min-height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 5px;
}

table#mc-workflow-log td.mc-state.completed {
  background-image: url("finished.png");
}
table#mc-workflow-log td.mc-state.pending {
  background-image: url("pending.png");
}
table#mc-workflow-log td.mc-state.erased {
  background-image: url("/core/themes/claro/images/icons/d72222/ex.svg");
}

div.mc-transaction.state-erased{
  opacity: 0.6;
}
