div.wallets {
  margin: 2px;
  background-color: rgb(250, 250, 250);
  padding: 5px;
  display: inline-block;
}
div.wallet {
  margin: 2px;
  padding: 5px;
  display: inline-block;
}

div.balance-bars,
div.history,
div.wallet-summaries,
table.display-wallet,
div.stats,
a.visit-wallet-link {
  clear: both;
}
a.wallet-link {
  display: block;
}

table.display-wallet td,
table.display-wallet th {
  font-size: 70%;
}

table.wallet-stats td{
  text-align: right;
}
div.wallet.summary {
  background-color: #eee;
}

div.viz-balance {
  display: block;
  padding: 3px;
}
div.scales {
  background-image: url('balances-140.png');
  width: 140px;
  height: 90px;
}
div.scales.negative {
  left: 0px;
  background-position: 140px 0;
}
div.scales.positive {
  left: 0px;
  background-position: 0px 0;
}
div.scales.balanced {
  left: 0px;
  background-position: 280px 0;
}
div.scales.balanced div.income-balance,
div.scales.balanced div.expenditure-balance {
  top: 15%;
}

div.expenditure-balance, div.income-balance {
  font-weight: bold;
  display: inline;
  position: relative;
}
div.income-balance {
  left:10%;
}
div.expenditure-balance {
  left:20%;
}
div.negative div.income-balance, div.positive div.expenditure-balance {
  top: 5%;
}
div.positive div.income-balance, div.negative div.expenditure-balance {
  top: 25%;
}
div.wallet.summary div.form-item{
  margin-top: 0;
  margin-bottom: 0;
}
div.wallet.summary div.form-item label {
  font-weight: bold;
}

/** keep the wallet component titles close */
div.component h4, div.component h5, div.component h3 {
  margin-bottom: 0;
}

table#bursers-values {
  margin: 0;
}

table#bursers-values th {
  border-bottom: inherit;
}
table#bursers-values td {
  padding: 0.5rem
}
div.wallet .component {
  display: block;
  clear: both;
  margin-top: 2em;
}

table.wallet-stats {
  border-collapse: inherit;
  border-spacing: 3px;
}
table.wallet-stats th {
  background-color: #f8f8f8;
  padding: 4px;
}