/* belt and braces - catch all the worth fields and 'main' subfield in the entries widget and standing alone */
/* todo why isn't there a single class for this */
div.form-type-worth input, 
div.form-type-worth div, 
div.form-type--worth input, 
div.form-type--worth div,
div.form-item-entries-quant input,
div.form-item-entries-quant-main,
div.form-item-entries-0-quant-main,
div.form-item-min-0-value-main,
div.form-item-max-0-value-main,
input#edit-quant-main,
input#edit-quant-subdivision{
  display: inline
}

input.worth-subdivision {
  text-align: right;
  width: 5em;
}

