div.mcapi-watermark {
  margin: 0.5em 0 0 1em;
  position: absolute;
  font-family: arial, helvetica;
  font-size: 50pt;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.25;
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=8);
  
  /* z-index: -1; canonical page doesn't need this */
}