
form#designed-transaction-form span.worth.single div,
form#designed-transaction-form span.worth.single span {
  float:left;
  margin:0;
} 

form#designed-transaction-form fieldset#edit-payer--wrapper legend,
form#designed-transaction-form fieldset#edit-payee--wrapper legend {
  display: none;
}
form#designed-transaction-form div.form-item,
form#designed-transaction-form fieldset,
form#designed-transaction-form fieldset#edit-payer--wrapper div.fieldset-wrapper,
form#designed-transaction-form fieldset#edit-payee--wrapper div.fieldset-wrapper {
  display: inline;
}
