input#edit-min-0-reset,
input#edit-max-0-reset {
  background: none; 
  border: none; 
  margin: 0; 
  padding: 0; 
  display:inline; 
  height:inherit;
}

div[id^="edit-min-wrapper"],div[id^="edit-max-wrapper"] {
  display: inline-block;
  margin-right: 2em;
}