{#
/**
 * @file
 * Default theme implementation to display a wallets in order of some property,
 * such as balance, num of trades, or transaction volume.
 * Variables:
 * - largest
 * - tops, an array containing
 *   - the raw quantity, the linked lable of the wallet, the formatted balance
 * - bottoms, an array containing
 *   - the raw quantity, the linked lable of the wallet, the formatted balance

 * @note No preprocessor function
 * @note if tops and bottoms have a difference number of rows we render the 
 * lesser number because cycle() seems to repeat the last item after the end.
#}

<table class = "extreme-balances" width = "100%">
<thead>
  <td align = "center">&lt; {{ 'Most negative wallets'|t }}</td>
  <td align = "center">{{ 'Most positive wallets'|t }} &gt;</td>
</thead>
<tbody>
{% for i in 0..min(tops, bottoms)|length -1 %}
 <tr>
   <td align="right" width = "50%">{% set percent = bottoms[i].raw * 99 / largest %}
     {% if percent < 50 %}{{ bottoms[i].name }}&nbsp;{% endif %}
     <a href="{{ bottoms[i].link }}" title = "{{ 'See record for @walletname'|t({ '@walletname': bottoms[i].name}) }}" target = "_blank">
       <div class = "negative" style = "width:{{ percent }}%">
         {{ bottoms[i].worth }} {% if percent >= 50 %}&nbsp;{{ bottoms[i].name }} {% endif %}
       &nbsp;</div>
     </a>
   </td>
   <td align="left" width = "50%">{% set percent = tops[i].raw * 99 / largest %}
     <a href="{{ tops[i].link }}" title = "{{ 'See record for @walletname'|t({ '@walletname': tops[i].name}) }}" target = "_blank">
       <div class = "positive" style = "width:{{ percent }}%">
         &nbsp;{% if percent >= 50 %}{{ tops[i].name }}&nbsp;{% endif %} {{ tops[i].worth }}
       </div>
     </a>{% if percent < 50 %}&nbsp;{{ tops[i].name }}{% endif %}
   </td>
 </tr>
 {% endfor %}
 </tbody>
</table>

