{#
/**
 * @file
 * Default theme implementation to wrap around a transaction.
 *
 * Available variables:
 * - payer
 * - payee
 * - quant
 * - description
 * - metadata (not tested)
 *
#}
{% trans %}{{ payer }} paid {{ payee }} <br />
the sum of
{{ quant }}
for: "<em>{{ description }}</em>"{% endtrans %}
