{#
/**
 * @file
 * Default theme implementation to wrap around a transaction.
 *
 * Available variables:
 * - attributes
 * - content - all the fields according to /admin/accounting/transactions/display
 *
#}
<div class = "{{ attributes.class }}">
  {{ content }}
</div>
