{#
/**
 * @file
 * Default theme implementation to display a summary of transaction data over time.
 * initial variables:
 * - start
 * - end
 * - txids
 * variables added by preprocessor:
 * - balances_chart
 * - min_wallets
 * - max_wallets
 * - trades_per_wallet
 * - volume_per_wallet
 */
#}

{{ balances_chart }}
<br />
{{ min_wallets }}
{{ max_wallets }}
<br />
{{ trades_per_wallet }}
{{ volume_per_wallet }}
