{#
/**
 * @file
 * Default theme implementation to display a wallet's balance history. Variables:
 * id
 * title
 * width
 * height
 * daterows an array of arrays containing, m/d/Y date, value, and formatted value
 * vaxislabels # array of labels keyed by value
 * zeroline
 *
#}
{{ attach_library('mcapi/gcharts') }}
<div class="mcapi-timeline">
  <script>
  google.charts.setOnLoadCallback({{ id }});
  function {{ id }}() {
    var data = new google.visualization.arrayToDataTable([
      [{{'Date'|t }}, "value"]
      {% for date, quant in daterows %}
      ,[new Date('{{ date }}'), {{ quant }}]
      {% endfor %}
    ]);
    var options = {
      width: {{ width }},
      height: {{ height }},
      legend: {position: 'none'}{% if vaxislabels %},
      vAxis: { ticks: [{% for tick in vaxislabels %}
      {v:{{ tick.value }}, f:"{{ tick.label|striptags }}"},
      {% endfor %}]}{% endif %}
    }
    new google.visualization.LineChart(document.getElementById('{{ id }}')).draw(data, options);
  }
  </script>
  <div id="{{ id }}" class = "mc-timeline" style="width:{{ width }}px; height:{{ height }}px;"></div>
</div>

