{#
/**
 * Render the signatures. An array of 'items' keyed by uid, each row contains
 * - version 
 * - when
 * - exacttime
 * - who - link to user entity
 * - state - css class
 * - translated_state
 *
#}
<table id="mc-workflow-log" border = "1">
  <thead>
    <th colspan="4">
        {{ 'History'|t }}
    </th>
  </thead>
  <thead>
    <th>{{ 'Version'|t }}</th>
    <th>{{ 'When'|t }}</th>
    <th>{{ 'User'|t }}</th>
    <th>{{ 'State'|t }}</th>
  </thead>
  <tbody>
    {% for row in transitions %}
    <tr title="{{ row.translated_state }}">
      <td class = "version">
        {{ row.version }}
      </td>
      <td class = "date" title="{{ row.exacttime }}">
        {{ row.when }}
      </td>
      <td class = "actor">
        {{ row.who }}
      </td>
      <td class = "mc-state {{ row.state }}">
        
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


