{#
/**
 * @file
 * Default theme implementation to display a wallet's balance history.
 *
 * label //of the wallet
 * canonical //to the wallet uri
 * log_link //to the wallet transaction listing
 * width //in pixels
 * currencies, each chart consisting of:
 * -  id           #the unique id of the chart
 * - functionname #the unique function name
 * - incoming     #raw incoming value
 * - outgoing     #raw outgoing value
 * - show_in      #formatted incoming value
 * - show_out     #formatted outgoing value
 * - given        #translation of 'Given'
 * - received     #translation of 'Received'
 * - currency     #configEntity object
 * - max          #number - the highest value.
 * - vaxislabels  #array
 */
#}
{{ attach_library('mcapi/gcharts') }}
<script type="text/javascript">
google.charts.setOnLoadCallback({{ functionname }});
function {{ functionname }}() {
  var data = google.visualization.arrayToDataTable([
    ["{{'Units'|t}}", "{{'Given'|t}}", "{{'Received'|t}}"],
    ['', {{ outgoing }}, {{ incoming }}]
  ]);
  var options = {
    width: 200,
    height: 200,
    enableInteractivity: false,
    vAxis: {viewWindowMode: 'explicit'},
    vAxis: {viewWindow: {min: 0, max: {{ max }}}},
    hAxis: {title: "{{ 'Given'|trans }}, {{ 'Received'|trans }}"},
    legend: {position: 'none'},
    colors: ['#2aab49', '#21a0db'],
    vAxis: { ticks: [{% for tick in vaxislabels %}
      {v:{{ tick.value }}, f:"{{ tick.label|striptags }}"},{% endfor %}
    ]}
  };
  new google.visualization.ColumnChart(document.getElementById('{{ id }}')).draw(data, options);
};
</script>
<div class = "balance-bar">
  <div class = "givenreceived" id = "{{ id }}"></div>
</div>
