{#
  variables:
  - balance
  - balance_formatted
  - expenditure_formatted
  - income_formatted
  - width
  font size: up to 6 chars: 30; 8 chars: 25; 10 chars: 18
#}
{% set leftlower = '<path d="M242 769 c56 -101 195 -185 357 -216 l91 -18 0 -31 c0 -27 -4 -32 -32 -38 -17 -3 -37 -11 -45 -17 -17 -15 -17 -54 2 -69 15 -12 60 -1 704 174 l153 42 18 47 c10 26 14 47 9 47 -9 0 -446 -116 -644 -171 -38 -10 -71 -19 -72 -19 -2 0 -3 9 -3 20 0 14 7 20 23 20 55 1 169 33 243 70 60 29 96 56 136 99 31 32 58 69 61 80 l5 21 -515 0 -514 0 23 -41z" />' %}
{% set rightupper = '<path d="M1960 1272 c0 -18 59 -99 93 -129 78 -68 190 -116 308 -130 62 -8 64 -9 67 -39 l3 -30 -288 -78 c-158 -43 -329 -89 -380 -103 l-91 -25 21 -37 c11 -20 21 -37 22 -38 2 -5 855 226 877 238 22 12 24 52 3 69 -9 7 -26 9 -45 5 -26 -6 -30 -4 -30 14 0 18 6 21 38 21 147 0 353 114 411 229 l21 41 -515 0 c-283 0 -515 -4 -515 -8z" />' %}
{% set leftupper = '<path d="M242 1273 c0 -5 10 -24 21 -43 69 -115 213 -197 384 -218 47 -5 60 -11 63 -26 3 -16 0 -18 -23 -12 -15 4 -35 4 -45 1 -19 -6 -32 -38 -23 -61 6 -16 16 -19 486 -144 202 -55 376 -102 386 -105 14 -4 24 4 40 31 12 20 20 39 17 42 -3 2 -70 22 -148 42 -267 70 -563 151 -585 160 -15 6 -23 18 -23 34 0 26 16 36 59 36 88 0 260 73 329 141 46 43 82 95 82 117 0 9 -109 12 -510 12 -280 0 -510 -3 -510 -7z"/>' %}
{% set rightlower = '<path d="M1960 780 c59 -114 228 -213 404 -236 52 -7 70 -19 54 -35 -5 -5 -46 2 -98 17 -256 71 -618 165 -621 161 -3 -2 4 -24 15 -49 l19 -44 415 -112 c228 -62 418 -112 421 -112 3 0 13 11 22 24 21 33 7 57 -43 71 -33 9 -38 15 -41 43 -3 28 0 32 20 32 89 1 268 67 343 127 36 28 86 93 98 126 6 16 -22 17 -509 17 l-515 0 16 -30z" />' %}
{% set leftlevel = '<path d="M242 1032 c0 -20 61 -101 101 -136 72 -61 232 -126 312 -126 40 0 57 -10 57 -36 0 -21 -5 -23 -56 -26 -64 -3 -88 -23 -68 -55 10 -17 45 -18 462 -21 l452 -2 15 36 c8 20 15 38 15 40 0 2 -164 4 -365 4 l-365 0 0 25 c0 18 6 26 23 29 190 36 251 59 335 126 42 32 112 123 112 143 0 4 -232 7 -515 7 -283 0 -515 -4 -515 -8z"/>' %}
{% set rightlevel = '<path  d="M1960 1027 c0 -20 51 -86 100 -131 70 -63 184 -108 333 -131 32 -5 38 -10 35 -28 l-3 -22 -366 -5 -365 -5 17 -40 18 -40 453 5 453 5 0 35 0 35 -60 5 c-52 4 -60 8 -63 27 -3 18 3 23 35 28 149 23 263 68 333 131 49 45 100 111 100 131 0 11 -89 13 -510 13 -421 0 -510 -2 -510 -13z" />' %}
{% set down = 120 %}
{% set balanced = 143 %}
{% set up = 167 %}
{% if balance > 0 %}
  {% set leftarm = leftupper %}
  {% set rightarm = rightlower %}
  {% set leftheight = up %}
  {% set rightheight = down %}
{% elseif balance < 0 %}
  {% set leftarm = leftlower %}
  {% set rightarm = rightupper %}
  {% set leftheight = down %}
  {% set rightheight = up %}
{% else %}
  {% set leftarm = leftlevel %}
  {% set rightarm = rightlevel %}
  {% set leftheight = balanced %}
  {% set rightheight = balanced %}
{% endif %}
{% set fontsize = 30 %}
{% set maxLength = max(income_formatted|striptags|length, expenditure_formatted|striptags|length) %}
{% if maxLength > 6 %}{% set fontsize = 25 %}{% endif %}
{% if maxLength > 8 %}{%set fontsize = 18 %}{% endif %}
<?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
 "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="{{ width }}em" viewBox="0 0 320 230">
  <g transform="translate(0,200) scale(0.1,-0.1)">
    <path title = "base" d="M1572 753 c-18 -7 -55 -68 -76 -124 -10 -26 -25 -93 -35 -150 l-17 -102 -49 -17 c-119 -41 -177 -83 -238 -176 -48 -72 -33 -94 64 -94 75 0 95 13 86 58 -5 23 0 31 28 49 116 76 330 90 478 32 75 -30 96 -49 90 -81 -9 -45 11 -58 86 -58 97 0 112 22 64 94 -61 93 -119 136 -238 176 -49 17 -50 18 -58 66 -25 162 -61 268 -107 314 -19 19 -50 24 -78 13z m53 -73 c4 -6 1 -18 -6 -26 -11 -13 -14 -13 -27 0 -8 8 -11 19 -8 25 9 14 33 14 41 1z"/>
    {{ leftarm|raw }}
    <g title="left" transform="translate(230,0) scale(10,-10)">
      <g title="lower" transform="translate(0,-{{ leftheight }}) scale(1,1)">
        <rect x="0" y="32" width="102" height="4" />
        <svg x="0" y="0" width="100" height="45">
          <text x="50%" y="50%" font-size="{{ fontsize }}" text-anchor="middle">{{ expenditure_formatted|striptags }}</text>
        </svg>
      </g>
    </g>
    {{ rightarm|raw }}
    <g title="right" transform="translate(1965,0) scale(10,-10)">
      <g title="lower" transform="translate(0,-{{ rightheight }}) scale(1,1)">
        <rect x="0" y="32" width="102" height="4" />
        <svg x="0" y="0" width="100" height="45">
          <text x="50%" y="50%" font-size="{{ fontsize }}" text-anchor="middle">{{ income_formatted|striptags }}</text>
        </svg>
      </g>
    </g>
  </g>
  <text x="160" y="220" font-size="{{ fontsize }}" text-anchor="middle">{{ 'Balance'|trans }}: {{ balance_formatted|striptags }}</text>
</svg>
