{#
/**
 * @file
 * Default theme implementation to display a (summary of a) wallet.
 * Variables:
 *   label //of the wallet
 *   wallet_link #to the wallet uri
 *   wallet_log_link #to the wallet transaction listing
 *   The results are
 *   - trades (number of)
 *   - balance
 *   - gross_in
 *   - gross_out
 *   - volume
 *   - partners
 */
#}
<table class = "wallet-stats">
<tr>
  <th style="font-size: 150%">{{ 'Balance'|t }}</th>
  <td style="font-size: 150%">{{ balance }}</td>
</tr><tr><th>{{ 'Gross income'|t }}</th>
  <td>{{ gross_in }}</td>
</tr><tr><th>{{ 'Gross expenditure'|t }}</th>
  <td>{{ gross_out }}</td>
</tr><tr><th>{{ 'Volume'|t }}</th>
  <td>{{ volume }}</td>
</tr><tr><th>{{ 'Partners'|t }}</th>
  <td>{{ partners }}</td>
</tr><tr><th>{{ 'Trades'|t }}</th>
  <td>{{ trades }}</td>
</tr></table>

