{#
/**
 * @file
 * Default theme implementation to display many wallets together
 * variables:
 * - wallets contains many wallet
 */
#}

<div class = "all-wallets">
  {{ wallet }}
</div><!--/all-wallets-->
