{#
/**
 * @file
 * Default theme implementation to display a wallets in order of some property,
 * such as balance, num of trades, or transaction volume.
 * Variables:
 * - id
 * - title
 * - values, in order
 * - width, in pixels
 * - height, in pixels
 * - vticks, array with numeric keys
 * @note No preprocessor function
 * @see \Drupal\mcapi\Element\OrderedWallets
#}
<div class="ordered-wallets">
{{ attach_library('mcapi/gcharts') }}
    <script>
    google.charts.setOnLoadCallback({{ id }});
    function {{ id }}() {
      var data = google.visualization.arrayToDataTable([
        ['', '', { role: 'annotation' }],{% for name, val in wallets %}    ['{{ name }}', {{ val }}, {{ val }}],
    {% endfor %}
    ]);
      var options = {
        legend: {position: 'none'},
        width: {{ width }},
        height: {{ height }},
        {% if vticks %}vAxis: { ticks: [
          {% for val, string in vticks %}{v:{{ val }}, f:'{{ string }}'},{% endfor %}

        ],
        minValue: 0},{% endif %}
        
        tooltip: {
          trigger: 'none'
        }
      }
      var chart = new google.visualization.ColumnChart(document.getElementById('{{ id }}'));
      chart.draw(data, options);

     }</script>
    {{ title }}
    <div id="{{ id }}" style="width:{{ width }}px; height:{{ height }}px;"></div>
</div>

